* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%
}
ul, li {
	list-style: none;
}

.main {
	position: relative;
}

.slide-list {
	width: 800px;
	height: 350px;
	margin: 0 auto;
	/*position: relative;*/
}
.slide-list__item {
	position: absolute;
	transition: opacity 1s;
	opacity: 0;
	overflow: hidden;
}
.slide-list__item--select {
	/*position: absolute;*/
	transition: opacity 1.1s;
	opacity: 1;
	overflow: hidden;
}

.controler {
	position: absolute;
	width: 120px;
	height: 20px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	background-color: #fff;
	border-radius: 20px;
	opacity: 0.5;
}
.controler li {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background-color: #fff;
}
.controler li:hover {
	background-color: #f00;
}